<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MySqlConn"
			 providerName="MySql.Data.MySqlClient"
			 connectionString="server=localhost;port=3306;username=root;password=;database=Obuhovka;Convert Zero Datetime=True"/>
	</connectionStrings>
	<appSettings>
		<add key="SmtpUsername" value="vladsipulin@mail.ru" />
		<add key="SmtpPassword" value="Dx0i5QtBtp1EmzPXE76A" />
	    <add key="PasswordPepper" value="OneversusFiveclutchAttemptForZywo" />
	  </appSettings>
</configuration>